<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <style>
        table {
            width: 600px;
            border-collapse: collapse;
            margin: auto;
        }

        td {
            text-align: center;
        }

        .addButton {
            margin-left: 492px;
        }
    </style>
</head>
<body>
<h2 align="center"> User List</h2>
<table border="1">
    <tr>
        <th>name</th>
        <th>last name</th>
        <th>age</th>
        <th>email</th>
        <th>operations</th>
    </tr>
    <tr th:each="user : ${allUsers}">
        <td th:utext="${user.firstName}"></td>
        <td th:utext="${user.lastName}"></td>
        <td th:utext="${user.age}"></td>
        <td th:utext="${user.email}"></td>
        <td>
            <button th:onclick="'window.location.href = \'' + @{/admin/update_user(userId=${user.id})} + '\''">update
            </button>
            <button th:onclick="'window.location.href = \'' + @{/admin/delete_user(userId=${user.id})} + '\''">delete
            </button>
        </td>
    </tr>
</table>
<br>
<tr>
    <form th:action="@{/admin/add_new_user}" class="addButton">
        <button type="submit">Add New User</button>
    </form>
</tr>
</body>
</html>